### 15 Categorical Columns, 45 Numerical Columns, 60 Columns Total
### 6,040 rows with missing values

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,Unnamed: 0,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,...,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle,Total Household Income
0,22617,CAR,81940,Enterpreneurial Activities,1,44171,40336,9053,4499,5245,...,1,0,0,0,2,0,0,0,0,115835
1,21389,V - Bicol Region,26176,Other sources of Income,0,14477,13067,722,3707,755,...,0,0,0,0,0,0,0,0,0,44339
2,25275,III - Central Luzon,139920,Enterpreneurial Activities,0,31053,21720,12005,10415,1090,...,0,0,0,0,1,0,0,0,1,223010
3,25298,III - Central Luzon,108931,Wage/Salaries,0,41374,29008,12250,11840,1455,...,1,0,0,0,2,0,1,0,0,224252
4,7780,V - Bicol Region,61539,Other sources of Income,1,23758,19656,2496,12446,2448,...,1,0,0,0,1,0,0,0,1,125863

In [14]:
print "Rows with missing values {0}".format(df.shape[0] - df.dropna().shape[0])

Rows with missing values 6040

In [17]:
print "Total rows {0}".format(len(df))

Total rows 33235

In [4]:
df.describe()

,Unnamed: 0,Total Food Expenditure,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,Restaurant and hotels Expenditure,...,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle,Total Household Income
count,33235.000000,33235.000000,33235.000000,33235.000000,33235.000000,33235.000000,33235.000000,33235.000000,33235.000000,33235.000000,...,33235.000000,33235.000000,33235.000000,33235.000000,33235.000000,33235.000000,33235.000000,33235.000000,33235.000000,3.323500e+04
mean,20736.223800,85056.056025,0.430510,25108.306665,18175.818745,10546.750263,10509.864480,2548.951587,4998.405958,15433.198044,...,0.320235,0.128720,0.079825,0.059967,1.906935,0.315390,0.136994,0.013299,0.292162,2.472482e+05
std,11987.166337,51581.403283,0.676381,13528.942321,11822.221779,10404.070684,7813.080825,3055.522876,3302.555318,23483.260142,...,0.479424,0.445682,0.344194,0.276210,1.559603,0.738925,0.356394,0.128190,0.561313,2.869137e+05
min,0.000000,2947.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.198800e+04
25%,10369.500000,50880.500000,0.000000,16522.000000,10972.500000,3356.000000,5501.500000,1020.000000,2872.500000,1950.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.047890e+05
50%,20715.000000,73024.000000,0.000000,23320.000000,16600.000000,7380.000000,8692.000000,1819.000000,4310.000000,7366.000000,...,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.641840e+05
75%,31094.500000,105529.000000,1.000000,31414.000000,23896.000000,14298.500000,13351.500000,3094.000000,6294.500000,19922.500000,...,1.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,2.912415e+05
max,41543.000000,827565.000000,2.000000,765864.000000,758326.000000,132142.000000,188208.000000,273769.000000,74800.000000,625200.000000,...,3.000000,5.000000,5.000000,4.000000,10.000000,6.000000,3.000000,3.000000,5.000000,1.181599e+07

In [9]:
numerics = []
categorical = []

for col in df:
    if((df[col].dtype == np.float64 or df[col].dtype == np.int64) and col != 'Unnamed: 0'):
        numerics.append(col)
        
    else:
        categorical.append(col)
        
categorical_df = df[categorical]
numeric_df = df[numerics]

In [10]:
numeric_df.head()

,Total Food Expenditure,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,Restaurant and hotels Expenditure,Alcoholic Beverages Expenditure,...,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle,Total Household Income
0,81940,1,44171,40336,9053,4499,5245,6625,2410,145,...,1,0,0,0,2,0,0,0,0,115835
1,26176,0,14477,13067,722,3707,755,1560,260,280,...,0,0,0,0,0,0,0,0,0,44339
2,139920,0,31053,21720,12005,10415,1090,6355,65642,210,...,0,0,0,0,1,0,0,0,1,223010
3,108931,0,41374,29008,12250,11840,1455,3551,22000,1350,...,1,0,0,0,2,0,1,0,0,224252
4,61539,1,23758,19656,2496,12446,2448,5680,2540,0,...,1,0,0,0,1,0,0,0,1,125863

In [11]:
categorical_df.head()

,Unnamed: 0,Region,Main Source of Income,Household Head Sex,Household Head Marital Status,Household Head Highest Grade Completed,Household Head Job or Business Indicator,Household Head Occupation,Household Head Class of Worker,Type of Household,Type of Building/House,Type of Roof,Type of Walls,Tenure Status,Toilet Facilities,Main Source of Water Supply
0,22617,CAR,Enterpreneurial Activities,Male,Married,Elementary Graduate,With Job/Business,Carpenters and joiners,Worked for private establishment,Extended Family,Single house,"Strong material(galvanized,iron,al,tile,concre...",Strong,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, used exclusiv...","Protected spring, river, stream, etc"
1,21389,V - Bicol Region,Other sources of Income,Male,Married,No Grade Completed,With Job/Business,Inland and coastal waters fishermen,Self-employed wihout any employee,Single Family,Single house,"Light material (cogon,nipa,anahaw)",Light,"Own house, rent-free lot with consent of owner","Water-sealed, sewer septic tank, shared with o...","Own use, tubed/piped deep well"
2,25275,III - Central Luzon,Enterpreneurial Activities,Male,Married,High School Graduate,With Job/Business,General managers/managing proprietors in trans...,Self-employed wihout any employee,Single Family,Single house,"Strong material(galvanized,iron,al,tile,concre...",Strong,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, used exclusiv...","Own use, faucet, community water system"
3,25298,III - Central Luzon,Wage/Salaries,Male,Married,Second Year High School,With Job/Business,Welders and flamecutters,Worked for private establishment,Extended Family,Single house,"Strong material(galvanized,iron,al,tile,concre...",Strong,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, used exclusiv...","Own use, faucet, community water system"
4,7780,V - Bicol Region,Other sources of Income,Male,Married,High School Graduate,With Job/Business,Farmhands and laborers,Worked for private establishment,Single Family,Single house,"Strong material(galvanized,iron,al,tile,concre...",Strong,"Own house, rent-free lot with consent of owner","Water-sealed, sewer septic tank, used exclusiv...","Shared, tubed/piped deep well"

In [8]:
len(categorical_df.columns)

15